<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verbose</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class='container jumbotron' style='padding-top:30px;padding-bottom:30px;'>
    <div class="row">
        <div class="col-lg-2"><a href='/'><img src='/logo.png'></a></div>
        <div class="col-lg-4">
            <h1><em>verbose</em></h1>
            <p>wortreich, langatmig, ausführlich, weitschweifig</p>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="alert alert-success">Word of the Pageload:  <strong>{{ random_word .}}</strong></div>
    </div>

    <div class="container">
        <form method="post" action="/new">
         <div class="form-group row">
            <div class="col-lg-2">
                <input class="form-control" id="en" name="en" placeholder="verbose" type="text"/>
            </div>
            <div class="col-lg-2">
                <input class="form-control" id="name1" name="de" placeholder="quasseln" type="text"/>
            </div>
            <div class="col-lg-3">
                <input class="form-control" id="example_original" name="example_original" placeholder="He talks very verbose." type="text"/>
            </div>
            <div class="col-lg-3">
                <input class="form-control" id="example_translation" name="example_translation" placeholder="Er redet sehr ausführlich." type="text"/>
            </div>
            <div class="col-lg-2">
                    <button class="btn btn-success " name="submit" type="submit">Add</button>
            </div>
        </div>
        </form>
       </div>
    </div>
    <div class='container'>
    <table class='table table-striped'>
    <thead>
        <tr>
        <th>EN</th>
        <th>DE</th>
        <th>Example</th>
        <th>Edit</eh>
        </tr>
    </thead>
    <tbody>
    {{ range $en, $translation := . }}
    <tr>
        <td>{{$en}}</td>
        <td>{{join $translation.Words ", "}}</td>
        <td>
        {{if $translation.ExampleOriginal}}
            <details><summary>{{$translation.ExampleOriginal}}</summary>
                {{$translation.ExampleTranslation}}
            </details>
        {{end}}
        </td>
        <td>
            <a href="edit/{{$en}}">
            <span class="glyphicon gyphicon-pencil">Edit</span>
            </a></td>
    </tr>
    {{ end }}
    </tbody>
    </table>
    <div>Words: {{len .}}</div>
    </div>

    <footer>
    <div class='container' style='text-align:center'>
    <hr>
    (C) 2022 <a href='https://evilcookie.de'>Raphael Pour</a> | <a href='https://github.com/RaphaelPour/verbose'>Source</a> | <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GPL v3</a> | <a href='https://evilcookie.de/impressum.html'>Impressum</a>
    </div>
    </footer>

    <script>
    document.getElementById("en").focus();
    </script>

</body>
</html>
